MIGRATION_SCHEMA=voila
MIGRATION_START_DATE=""
MIGRATION_END_DATE=""
MIGRATION_ORDER_NUMBERS="26071321213643"

XMS_CATALYST_DSN=postgres://xxx:xxx@xxx:xxx/catalyst_xms?search_path=voila
XMS_CATALYST_MONGO_URI=mongodb://xxx:xxx@xxx:xxx/voila?authSource=admin
XMS_CATALYST_VOILA_DSN=postgres://xxx:xxx@xxx:xxx/catalyst_xms?search_path=voila
XMS_LEGACY_DSN=postgres://xxx:xxx@xxx:xxx/voila
RESELLER_DSN=postgres://xxx:xxx@xxx:xxx/voila_reseller
VOILA_UF_MONGO_URI=mongodb://xxx:xxx@xxx:xxx/voila?authSource=admin